"*":
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
    ]
    projectHome: "/Users/{{ lookup('env', 'USER') }}/Workspace"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    showInvisibles: true
    tabLength: 4
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "spell-check":
    grammars: [
      "text.html.basic"
    ]
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
