# {{ ansible_managed }}

<IfModule unixd_module>
    User {{ lookup('env', 'USER') }}
</IfModule>

<IfModule dir_module>
    DirectoryIndex index.php index.html
</IfModule>

DocumentRoot /Users/{{ lookup('env', 'USER') }}/Workspace
<Directory "/Users/{{ lookup('env', 'USER') }}/Workspace">
    Options Indexes FollowSymLinks MultiViews
    MultiviewsMatch Any
    AllowOverride All
    Require local
</Directory>

LoadModule rewrite_module libexec/apache2/mod_rewrite.so
